@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./anim.scss";

html {
  box-sizing: border-box;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background: black;
}

// Main Header ==> Start <=== //
.main-header{
  color: white;
  // background: white;
  font-size: 30px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom:2rem;
  padding-bottom: 15px;
  border-bottom: 2px solid white;
  // background-image: url('https://picsum.photos/200/300');
  // background-repeat: no-repeat;
  background-size: cover;
}

.font-todo {
  padding-left: 25px;
  font-size: 40px;
}
// Main Header <=== End ===> //


// Main ===> Start <=== //
.container {
  margin-top: 5%;
  padding-bottom: 2%;
  background: #ffd89b;
  background: -webkit-linear-gradient(to bottom, #19547b, #ffd89b);
  background: linear-gradient(to bottom, #19547b, #ffd89b);
  border-radius: 25px;
}
// Main <=== End ===> //


// Todo Header ===> Start <=== //
.todo-header {
  margin-bottom: 1rem;
}

.tagline {
	-webkit-animation: tagline 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tagline 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.help {
  margin-bottom: 1rem;
}
// Todo Header <=== End ===> //



// Todo List ===> Start <=== //
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}
// Todo List <=== End ===> //


// Todo ListItem ===> Start <=== //
.todo-item {
  td {
    padding: 0.25rem 0;
  }

  td.col-action {
    text-align: right;
    padding-right: 0.25rem;

    .icon-remove {
      cursor: pointer;

      &:hover {
        color: #bd2d2d;
      }
    }
  }

  input[type="text"] {
    border: 1px solid transparent;
    padding: 0 0.25rem;
    width: 98%;

    &:hover,
    &:active,
    &:focus {
      border: 1px solid #c0c0c0;
    }
  }
}
// Tddo ListItem <=== End ===> //


// Not Found Page ===> Start <=== //
.not-found {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  background-color: red;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
// Not Found Page <=== End ===> //



// Footer ===> Start <=== //
.footer {
  position: absolute;
  width: 100%;
  // padding-top: 15px;
  text-align: center;
  bottom: 0;
  background: black;
  color: white;
  border-top: 2px solid white;
}

.footer p {
  margin-bottom: 10px;
}

.link-social-anim {
  color: white;
  &:hover {
    font-size: 20px;
    color: white;
    transform: scale(1.3, 1.3);
    @include transition(all 0.4s);
  }
}

// Footer <=== End ===> //
